header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
	/*设置渐变*/
	background-image: -moz-linear-gradient(
	hsla(26, 53%, 6%,.3),
	hsla(26, 53%, 6%,1) 30px
	);
	background-image: -webkit-linear-gradient(
	hsla(26, 53%, 6%,.3),
	hsla(26, 53%, 6%,1) 30px
	);
	z-index: 9999;
}

#nav {
	width: 40%;
	height: 20px;
	list-style-type: none;
}

#nav li {
	float: left;
	color: #fff;
	margin-right: 20px;
}

header .logo {
	/*position: absolute;
	 top: 0;*/
	background-image: url(logo.png);
	background-repeat: no-repeat;
	height: 70px;
	width: 100%;
	margin-left: 150px;
	padding-left: 150px;
	background-size: 350px 40px;
	display: inline-block;
}

input[type="text"] {
	float: left;
	margin-top: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 200px;
}

header .logo div {
	float: left;
	margin-left: 20px;
	margin-top: 15px;
	color: #fff;
}

.middle .contain2 {
	float: left;
	width: 100%;
	background-color: #fff;
	position: relative;
	height: 100%;
}

.middle .contain1 {
	float: left;
	width: 100%;
	height: 100%;
	min-height: 600px;
	background-color: hsl(0, 0%, 96%);
	position: relative;
	right: 75%;
	border-right: 2px solid #DDDDDD;
}

.middle .contain3 {
	float: left;
	width: 100%;
	overflow: hidden;
	position: relative;
	background-color: hsl(41, 41%, 79%);
}

.middle .contain3 .contain2 {
	float: left;
	width: 100%;
	background-color: #fff;
	position: relative;
	right: 20%;
	border-right: 2px solid #DDDDDD;
}

.middle .contain3 .contain1 {
	float: left;
	width: 100%;
	background-color: hsl(0, 0%, 96%);
	position: relative;
	right: 55%;
	border-right: 2px solid #DDDDDD;
}

#left {
	float: left;
	/*	background-color: hsl(0, 0%, 96%);*/
	width: 25%;
	height: 100;
	overflow: hidden;
	position: relative;
	left: 75%;
}

#left .top img {
	float: left;
	height: 80px;
	width: 80px;
	margin-left: 20px;
	margin-top: 20px;
}

.nick {
	float: left;
	padding-left: 20px;
	margin-top: 40px;
	font-size: 20px;
	text-shadow: #000 2px 2px 4px;
}

.middle {
	margin: 0 auto;
	overflow: hidden;
	width: 80%;
	height: auto;
	border: 1px solid #000;
	-webkit-box-shadow: 10px 10px 5px #888888;
	-moz-box-shadow: 10px 10px 5px #888888;
	box-shadow: 10px 10px 5px #888888;
	/*	min-height: 800px;*/
}

#left .top .sit {
	margin-top: 10px;
	margin-left: 20px;
}

#left .top .sit a {
	text-decoration: none;
	color: hsl(204, 5%, 42%);
}

#left .top .sit a:hover {
	text-decoration: underline;
}

#left .bottom {
	float: left;
	height: auto;
	width: 220px;
	background-color: hsl(0, 0%, 90%);
	margin-left: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.contain3 #left .bottom {
	float: left;
	background-image: url(reel.png);
	background-color: transparent;
	height: 450px;
	background-repeat: no-repeat;
	background-size: 220px 450px;
}

#left .bottom .information {
	float: left;
	width: 100%;
	overflow: hidden;
}

.contain3 #left .bottom .info {
	float: left;
	padding-left: 30px;
	padding-top: 35px;
}

.information > li {
	list-style: none;
	min-height: 40px;
	padding-top: 10px;
}

.information > .info_tit {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 25px;
	-moz-text-shadow: #000 5px 5px 10px;
	-webkit-text-shadow: #000 5px 5px 10px;
	text-shadow: #000 5px 5px 10px;
}

.information > .info_con {
	font-size: 20px;
	padding-left: 30px;
	width: 100%;
}

.information > .info_con > div {
	width: auto;
}

.information > .info_con a, .information > .info_tit a{
	text-decoration: none;
	text-shadow: #000 5px 5px 12px;
	color: #000;
	width: 100%;
}

.info h4 {
	width: 150px;
	margin-top: -10px;
	margin-left: 10px;
	word-break: break-all;
	text-shadow: #000 1px 1px 12px;
}

.float_left {
	float: left;
}

.clear {
	clear: both;
}

#middle {
	float: left;
	width: 75%;
	overflow: hidden;
	height: auto;
	position: relative;
	left: 75%;
	min-height: 700px;
}

.contain3 #right {
	float: left;
	height: auto;
	width: 20%;
	overflow: hidden;
	position: relative;
	left: 75%;
	height: auto;
	/*  background-color: hsl(41, 41%, 79%);	*/
}

.contain3 #middle {
	float: left;
	width: 55%;
	height: auto;
	min-height: 900px;
	overflow: hidden;
	position: relative;
	left: 75%;
	padding-left: 0;
	/*  background-color: #fff;	*/
}

#middle > .mid_contain {
	-moz-text-shadow: #000 2px 2px 15px;
	-webkit-text-shadow: #000 2px 2px 15px;
	text-shadow: #000 5px 5px 10px;
	font-size: 17px;
	height: auto;
	padding-top: 50px;
	padding-left: 40px;
	overflow: hidden;
}

#middle > .mid_contain > .mid_title {
	font-size: 25px;
	margin-bottom: 30px;
}

#middle > .mid_contain > .mid_content {
	padding: 0;
	margin: 0;
	height: auto;
}

#middle > .mid_contain > .mid_content li {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
	position: relative;
	padding-left: 6em;
	margin-bottom: 20px;
}

.mid_content_left {
	position: absolute;
	left: 0;
}

#middle > .mid_contain > .mid_content li label {
	display: block;
	height: 26px;
	line-height: 26px;
}

#middle > .mid_contain > .mid_content li .mid_content_contain {
	position: relative;
	display: inline-block;
	float: none;
}

#middle > .mid_contain > .mid_content li .mid_content_contain > img {
	height: 80px;
	width: 80px;
}

.pre {
	padding-left: 20px;
}

.pre a {
	text-decoration: none;
	color: hsl(206, 79%, 46%);
}

.pre a:hover {
	color: hsl(206, 79%, 46%);
}

.pre p {
	word-break: break-all;
}

#middle article {
	padding-bottom: 10px;
	border-bottom: 2px dashed #DDDDDD;
}

#plugs {
	width: auto;
	height: auto;
	border-bottom: 2px dashed #000;
}

#datepicker {
	font-size: 11px;
}

#right ul {
	margin-top: 20px;
	margin-left: -20px;
}

#right ul li {
	list-style: none outside none;
}

#right ul li[class="pre"] {
	margin-left: -20px;
	margin-top: 10px;
}

#right ul li[class="pre"] span {
	color: #1881D1;
}

#right ul li h3 {
	background-color: hsl(41, 41%, 79%);
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	height: 30px;
	box-shadow: 5px 3px 40px #000;
}

#scroll {
	height: auto;
	overflow: hidden;
}

.panel {
	position: fixed !important;
	top: 50px;
}

#scroll.panel .clear .toTop {
	display: block;
}

.dis {
	margin-top: 40px;
}
#scroll .clear {
	height: 100%;
}

a.toTop {
	display: none;
	background: url(gototop.png) no-repeat scroll 50% 60% transparent;
	text-indent: -9999em;
	width: 100%;
	height: 100%;
}

#arti {
	width: 90%;
	margin: 0 auto;
}

#nav_above, #nav_below {
	display: block;
	height: 40px;
}

.pre_page {
	float: left;
	width: 50%;
}

.next_page {
	float: right;
	width: 39%;
	text-align: right;
	padding-right: 20px;
}

.teach_mar {
	margin-top: 5px;
}

/* .teach_edit:after{
	content: '编辑';
    display: inline-block;
    float: right;
    padding-right: 20px;
    cursor: pointer;
    color: #1881D1;
} */
.teach_edit > a {
   float: right;
   margin-right: 10px;
}

.teach_edit > a:after{
	/*清除浮动*/
    content: "";
    clear: both;
}

.teach_add {
	color: #1881D1;
    cursor: pointer;
}

#addupdate{
	font-size: 1.2em;
	position: absolute;
    top: 40%;
    left: 20%;
    height: 200px;
    width: 400px;
    box-shadow: 4px 3px 20px #000;
    background-color: hsla(0, 0%, 96%, 0.5);
    text-shadow: #000 2px 2px 15px;
	-webkit-text-shadow: #000 2px 2px 15px;
    border-radius: 10px;
	-moz-border-radius: 10px;
}

#addupdate > ul, #educate ul, #educate img, #educate div {
	float: left;
}

#educate li{
   overflow: auto;
   margin-top: 20px;
}

#educate li input[type="checkbox"]{
   overflow: auto;
   margin-top: 10px;
   margin-left: 30px;
}
 
#addupdate  div{
	float: left;
    width: 100px;
    text-align: right;
    margin-top: 10px;
}

#addupdate input{
	height: 20px;
    font-size: 1em;
}