
RewriteEngine On

RewriteBase /

#RewriteCond %{REQUEST_URI} ^.*\.html$ [NC]
#RewriteRule ^(.*)\.html$ $1.php

#RewriteCond %{REQUEST_URI} =""
#RewriteRule ^.*$ index.php [NC,L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]